<div class="container">
  <ul class="nav nav-pills">
    <li class="active"><%= link_to '後台總表', admin_root_path %></li>
    <li><%= link_to '文章列表', admin_posts_path %></li>
    <li><%= link_to '分類列表', admin_categories_path %></li>
    <li><%= link_to '使用者列表', admin_users_path %></li>    
  </ul>
</div>